@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7))
    }
}

.slider {
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;

    .slide-track {
        gap: 4px;
        animation: scroll 40s linear infinite;
        display: flex;
        width: calc(250px * 14);
        align-items: center;
    }

    .slide {
        display: flex;
        align-items: center;
        height: 80px;
        width: 250px;
    }

    .slide img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        /* Ensures the image fits within the rectangle */
    }
}

footer {
    background-color: var(--primary-color);
    padding: 60px 60px 10px 60px;
    width: 100%;
    border-radius: 15px;

    @media (max-width: 1260px) {
        width: 90%;
    }

    @media (max-width: 780px) {
        margin: 40px auto;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;

        @media (max-width: 780px) {
            flex-direction: column;
        }

        .footer-section {
            margin: 0 60px;

            @media (max-width: 960px) {
                margin: 0 30px;
            }

            h3 {
                font-family: var(--font-primary);
                font-weight: 700;
                font-size: 14px;
                margin-bottom: 30px;
            }

            ul {
                list-style: none;

                li {
                    margin-bottom: 10px;
                    cursor: pointer;
                }
            }
        }

        .newsletter {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            h3 {
                margin: 30px 0;
                font-family: var(--font-primary);
                font-weight: 500;
                font-size: 16px;
            }

            form {
                display: flex;
                gap: 10px;
                margin-bottom: 50px;

                @media (max-width: 1150px) {
                    flex-direction: column;
                }

                input[type="email"] {
                    max-width: 224px;
                    width: 100%;
                    font-family: var(--font-primary);
                    font-weight: 500;
                    font-size: 16px;
                    padding: 10px;
                    border: 2px solid var(--font-primary);
                    border-radius: 5px;
                    background: var(--primary-color);
                    color: var(--dark-text-color);
                    outline: none;
                    height: 51px;

                    @media (max-width: 780px) {
                        max-width: unset;
                    }

                    &::placeholder {
                        color: black;
                    }
                }

                button {
                    font-family: var(--font-primary);
                    font-weight: 700;
                    font-size: 16px;
                    padding: 0 10px;
                    height: 51px;
                    background-color: black;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }

            h4 {
                font-family: var(--font-primary);
                font-weight: 500;
                font-size: 16px;
                margin-bottom: 20px;
            }

            .social-icons {
                display: flex;
                flex-wrap: wrap;
                gap: 30px;

                a,
                a:visited {
                    color: black;
                    font-size: 20px;
                    text-decoration: none;

                    .fa-facebook-f,
                    .fa-twitter,
                    .fa-instagram {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 3px;
                        height: 46px;
                        width: 46px;
                    }

                    .fa-facebook-f {
                        background-color: #4c6ea7;
                    }

                    .fa-twitter {
                        background-color: #4297c4;
                    }

                    .fa-instagram {
                        background: linear-gradient(45deg,
                                #ffb73d 0%,
                                #c47067 40%,
                                #9d23e4 100%);
                    }
                }
            }
        }
    }
}